:root {
    --written:  'Caveat', cursive;
    --printed: 'Quicksand', sans-serif;
}

h1, h2 {
    font-family: var(--written);
    font-size: 30px;
    color: #F26440;
    text-align: center;
    margin-bottom: 10px;
}
h2 {
    color: #68ccc4;
    margin-bottom: 0;
    text-align: center;
}
p.write, li {
    font-family: var(--written);
    font-size: 21px;
    color: #707070;
    margin-top: 0;
}
li {
    font-size: 18px;
    margin-bottom: 10px;
}
ul {
    list-style-image: url('bug-bullet-01.png');
}
body {
    background-image: url("bugboard-bg.png");
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-x;
    background-size: cover;
    position: relative;
}

.frame {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    
}
#switch {
    z-index: 3;
    top: 83vh;
    left: 10vw;
}
#shades {
    z-index: 2;
    justify-content: center;

}
#collection {
    z-index: 1;
    justify-content: center;
}
#box1:hover {
    opacity: 0;
}

#box2:hover {
    opacity: 0;
}
#box3:hover {
    opacity: 0;
}
#box4:hover {
    opacity: 0;
}
#box5:hover {
    opacity: 0;
}
#box6:hover {
    opacity: 0;
}
#box7:hover {
    opacity: 0;
}
#box8:hover {
    opacity: 0;
}
#box9:hover {
    opacity: 0;
}
#box10:hover {
    opacity: 0;
}

#button-slide {
    transition: transform 0.6s ease;
}

#button-slide:hover {
    cursor: pointer;
}

.instruct {
    position: absolute;
    margin: 20px 0 0 20px;
    width: 250px;
    height: 250px;
    background-image: url("paper.png");
    background-position: top center;
    background-size: cover;
    padding: 30px;
}
.instruct p {
    padding: 0 10px;
}
.instruct h1 {
    padding-top: 10px;
}
.modals {
    position: relative;
    
}
.modal {
    background-color: #fcf9f4;
    position: absolute;
    left: 79vw;
    top: 10vh;
    width: 15vw;
    padding: 1vw 2vw 2vw 1vw;
    box-shadow: 3px 3px 6px #70707025;
    display: none;
}


